<!DOCTYPE html>
<html  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>


    <link rel="stylesheet" href="../../static/css/bootstrap.min.css"  th:href="@{css/bootstrap.min.css}" />
    <script src="../../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
    <script src="../../static/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
    <script src="../../static/js/bootstrap.bundle.min.js" th:src="@{js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<div th:replace="fragments/header::header"></div>
<div layout:fragment="content">

</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>